/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

#free_user_button {
  float: right;
  margin-top: -800px;
  margin-right: 450px;
}

#free_form {
  float: right;
  margin-top: -770px;
  margin-right: 200px;
}

ul {
  list-style: none;
}

.paid_form {
  width: 500px;
}

#hidden_id_list, .name-index, #hidden_user_id, #hidden_photo_list {
  display: none;
}


.picture {
  width: 300px;
  height: 200px;
}

.picture > img{
  width: 300px;
  height: 200px;
}

.photo-index{
  display: inline-block;
}

#photos{
  margin: 10px;
}

